@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-dm-sans);
  --font-mono: var(--font-dm-mono);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #b3b3b3;
}

@keyframes scroll-brands {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-50%);
  }
}

.animate-scroll-brands {
  animation: scroll-brands 35s linear infinite;
}
